.DS_Store
.cproject
.externalToolBuilders
.*.swp
.project
.qmake.stash
.settings
*.backup
*.aux
*.dvi
*.log
*.out
*.ps
*.toc
doc/html
doc/latex
doc/xml
Makefile
ui_*.h
moc
obj
qrc_*.cpp
backgammon.app
bgserver/bgserver
bgsrvstart.app
